trigger:
  - main

pool:
  name: 'Deployment'

variables:
  imageName: 'everout'
  registryUrl: 'localhost:5000'
  imageTag: '$(Build.BuildId)'

stages:
  - stage: BuildAndDeploy
    jobs:
      - job: Build
        displayName: 'Build, Push and Run'
        steps:
          - script: |
              docker build -t $(registryUrl)/$(imageName):$(imageTag) .
            displayName: 'Docker Build (Unique Tag)'

          - script: |
              docker tag $(registryUrl)/$(imageName):$(imageTag) $(registryUrl)/$(imageName):latest
            displayName: 'Tag as Latest'

          - script: |
              docker push $(registryUrl)/$(imageName):$(imageTag)
              docker push $(registryUrl)/$(imageName):latest
              displayName: 'Push both Tags to Registry'
              
              - script: |
              docker-compose down
              docker-compose pull
              docker-compose up -d
              displayName: 'Deploy with Docker Compose'