#navbar {
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    overflow: visible;
    width: 100%;
    font-size: 1rem;
}

#navbar li {
    height: 75px;
    align-items: center;
}

.navbarLeft {
    float: left;
    display: flex;
}

.navbarRight {
    float: right;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo:hover {
    opacity: 0.8;
}

.links {
    color: black;
    padding: 100% 15px;
    text-decoration: none;
    text-align: center;
    vertical-align: center;
}

.links:hover {
    transition-duration: 300ms;
    background-color: #122453;
    color: white;
}

#profile {
    height: 50px;
    width: 50px;
}

#cart, #favorites {
    height: 25px;
    width: 25px;
}

#profile:hover,
#cart:hover,
#favorites:hover {
    cursor: pointer;
    opacity: 0.7;
}

/*logged in profile icon*/
.profile-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
}

#loggedOutProfile {
    width: 42px;
    height: 42px;
}

.navbarRight.dropdown {
    position: relative;
}
.dropdown-menu {
    min-width: 150px;
    z-index: 1200;
    position: absolute;
    top: 100%;
    right: 0;
}