

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid black;
    padding: 25px;
    z-index: 1000;
    width: 50%;
    max-width: 500px;
}
